---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  title="競技プログラミング"
  breadcrumbs={[{ href: "/index.html", label: "ホーム" }]}
>
  AtCoder向けの競技プログラミングで使用するアルゴリズムやライブラリをまとめている．言語は主にRustを対象としており，各種データ構造やアルゴリズムの使い方，実装例，計算量などを整理している．
  <h2>Rust ライブラリ</h2>
</BaseLayout>
